.not-first-in-group {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.not-last-in-group {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

div[data-sender='user'] {
  justify-content: flex-end;

  > div {
    background-color: var(--color-foreground);
    color: var(--color-background);
  }
}

div[data-sender='assistant'] {
  justify-content: flex-start;

  > div {
    background-color: var(--color-gray);
    color: var(--color-text);
  }
}
